---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Joe Cardoso" description="About Joe Cardoso - Software Engineer specializing in observability and full-stack development">
  
  <section class="about-content">
    <h2>$ whoami</h2>
    <p>
      Hello there! I'm Joe C., a full-stack software engineer based in Toronto, Canada.
    </p>

    <h2>$ cat journey.txt</h2>
    <p>
    My journey begins at Texas A&M, when pursuing a Master degree in Mechanical Engineering. Using MatLab often made me realize how much I enjoyed that process of writing software. After graduating and experiencing the world a bit, I realized I would be much happier working on something I'm deeply passionate about, instead of keeping within the guardrails of my formal education. I then decided put all my coins where my passion really lies. 
    </p>

    <p>
    Fortunately I have found the <a>Launch School</a> community. (mention: partnership, excellence, expand on the community idea, i.e. folks excelling in their field, leveraging on solid fundamentals and the spirit of excellence to achieve great career things)
    </p>

    <p>
    I was lucky enough to partner up with some brilliant folks and together we built <a>Vispyr</a>, a project which I'm very proud of. (mention: complicated stuff about Vispyr)
    </p
  </section>

  <section class="contact">
    <h2>$ echo $CONTACT</h2>
    <div class="links">
      <a href="https://github.com/JoeCardoso13" target="_blank">github</a>
      <a href="https://linkedin.com/in/joe-cardoso-eng" target="_blank">linkedin</a>
      <a href="mailto:jow13_122@yahoo.com">email</a>
    </div>
  </section>
</Layout>

<style>
  .about-content p {
    font-size: 0.96rem;
    line-height: 1.6;
    letter-spacing: -0.01em;
    margin-bottom: 1.5rem;
  }
</style>
